<a href="https://colab.research.google.com/github/gregorywmorris/MLZoom2022/blob/main/MLZoomCampWeekOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1

In [1]:
import pandas as pd
import numpy as np

a = pd.__version__
b = np.__version__

print(f'This is python {a} and this is numpy {b}')

This is python 1.3.5 and this is numpy 1.21.6

#Q2

In [2]:
data = pd.read_csv('data.csv')
data.shape

(11914, 16)

In [3]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
data.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

#Q3

In [5]:
# The git says most frequent but the google form says popular, I have elected to provide the most frequent. However, popular would be the sum of the poular column for each Make.
n = 5
data['Make'].value_counts()[:n]

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

#Q4

In [6]:
data.groupby('Make')['Model'].nunique().head()
# I used head becasue I knew Audi would be at the top

Make
Acura           18
Alfa Romeo       1
Aston Martin    12
Audi            34
BMW             39
Name: Model, dtype: int64

#Q5

In [7]:
#Sums the number of missing values, any column with 0 does not have missing values.
data.isnull().sum()
#If there were more columns that made visualizing an issue, a functions to loop over and list only NaN colums would be needed.
nan_cols = [i for i in data.columns if data[i].isnull().any()]
len(nan_cols)

5

#Q6

In [12]:
# Total Mean
print(data["Engine Cylinders"].mean())
# The mode is 4
print(data["Engine Cylinders"].mode())
# Mean with 4 filled in for the missing values
print(data["Engine Cylinders"].fillna(4).mean())
# Notice if the mean was rounded to 1 place the difference would have been missed.

5.628828677213059
0    4.0
dtype: float64
5.624727211683734

#Q7

In [20]:
X = data[ data['Make'] == 'Lotus']
X = lotus[['Engine HP', 'Engine Cylinders']].drop_duplicates()
# I am getting 10 rows instead of 9 mentioned in the question
X

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [21]:
XT = X.T
XT

,3912,3913,3918,4216,4257,4259,4262,4292,4293
Engine HP,189.0,218.0,217.0,350.0,400.0,276.0,345.0,257.0,240.0
Engine Cylinders,4.0,4.0,4.0,8.0,6.0,6.0,6.0,4.0,4.0

In [24]:
# Used matmul as the other options I found were dot product and element wise multiplications. 
XTX = np.matmul(XT, X)
XTX

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.

                         0        1
Engine HP         731684.0  13410.0
Engine Cylinders   13410.0    252.0

In [27]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y

array([1100,  800,  750,  850, 1300, 1000, 1000, 1300,  800])

In [30]:
inv = np.matmul(np.linalg.inv(XTX), X.T)
w = np.matmul(inv, y)
w
# But is it the right answer....

0     4.594945
1   -63.564325
dtype: float64