<a href="https://colab.research.google.com/github/gregorywmorris/MLZoom2022/blob/main/capstone-1/LendingClub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Auto-save / Auto-reload
%autosave 1

%load_ext autoreload
%autoreload 2

Autosaving every 1 seconds

Field descriptions: https://www.kaggle.com/code/faressayah/lending-club-loan-defaulters-prediction

# Environment set-up and data import

## PIP

In [1]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 17 kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [2]:
!pip install dask

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dask in /usr/local/lib/python3.8/dist-packages (2022.2.1)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask) (1.5.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from dask) (2022.11.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask) (0.12.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from dask) (21.3)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask) (6.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask) (1.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->dask) (3.0.9)
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask) (1.0.0)

In [4]:
!pip install Jinja2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.8/dist-packages (3.0.0)
Requirement already satisfied: MarkupSafe>=2.0.0rc2 in /usr/local/lib/python3.8/dist-packages (from Jinja2) (2.1.1)

In [5]:
!pip install writefile

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting writefile
  Downloading writefile-0.2.tar.gz (2.4 kB)
Building wheels for collected packages: writefile
  Building wheel for writefile (setup.py) ... done
  Created wheel for writefile: filename=writefile-0.2-py3-none-any.whl size=2903 sha256=24ce471f2ec36f88b994df4db6213b34de31ce420dfb9a10737f22e43731909e
  Stored in directory: /root/.cache/pip/wheels/f4/f6/99/56d389fac4665e36ee74470f9127213f6298c17edace78f694
Successfully built writefile
Installing collected packages: writefile
Successfully installed writefile-0.2

### Dataprep

In [3]:
!pip install dataprep

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dataprep
  Downloading dataprep-0.4.5-py3-none-any.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 4.1 MB/s
Collecting metaphone<0.7,>=0.6
  Downloading Metaphone-0.6.tar.gz (14 kB)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /usr/local/lib/python3.8/dist-packages (from dataprep) (7.7.1)
Collecting flask<3,>=2
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 9.3 MB/s
Collecting jsonpath-ng<2.0,>=1.5
  Downloading jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Requirement already satisfied: bokeh<3,>=2 in /usr/local/lib/python3.8/dist-packages (from dataprep) (2.3.3)
Collecting python-stdnum<2.0,>=1.16
  Downloading python_stdnum-1.18-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 34.5 MB/s
Requirement already satisfied: pydantic<2.0,>=1.6 in /usr/local/lib/python3.8/dist-packages (from dataprep) (1.10.2)
Requirement already satisfied: pandas<2.0,>=1.1 in /usr/local/lib/python3.8/dist-packages (from dataprep) (1.3.5)
Collecting varname<0.9.0,>=0.8.1
  Downloading varname-0.8.3-py3-none-any.whl (21 kB)
Collecting flask_cors<4.0.0,>=3.0.10
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: tqdm<5.0,>=4.48 in /usr/local/lib/python3.8/dist-packages (from dataprep) (4.64.1)
Requirement already satisfied: aiohttp<4.0,>=3.6 in /usr/local/lib/python3.8/dist-packages (from dataprep) (3.8.3)
Collecting pydot<2.0.0,>=1.4.2
  Downloading pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Collecting regex<2022.0.0,>=2021.8.3
  Downloading regex-2021.11.10-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (764 kB)
     |████████████████████████████████| 764 kB 43.9 MB/s
Collecting sqlalchemy==1.3.24
  Downloading SQLAlchemy-1.3.24-cp38-cp38-manylinux2010_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 47.2 MB/s
Collecting dask[array,dataframe,delayed]>=2022.3.0
  Downloading dask-2022.12.1-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 54.1 MB/s
Collecting jinja2<3.1,>=3.0
  Downloading Jinja2-3.0.3-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 60.8 MB/s
Collecting python-crfsuite==0.9.8
  Downloading python_crfsuite-0.9.8-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 14.4 MB/s
Collecting rapidfuzz<3.0.0,>=2.1.2
  Downloading rapidfuzz-2.13.6-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 58.6 MB/s
Requirement already satisfied: wordcloud<2.0,>=1.8 in /usr/local/lib/python3.8/dist-packages (from dataprep) (1.8.2.2)
Collecting scipy<2.0,>=1.8
  Downloading scipy-1.9.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (33.8 MB)
     |████████████████████████████████| 33.8 MB 409 kB/s
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /usr/local/lib/python3.8/dist-packages (from dataprep) (3.7)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.8/dist-packages (from dataprep) (1.21.6)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (6.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.3.3)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (2.1.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (22.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.8/dist-packages (from bokeh<3,>=2->dataprep) (6.0.4)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.8/dist-packages (from bokeh<3,>=2->dataprep) (7.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from bokeh<3,>=2->dataprep) (2.8.2)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.8/dist-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.8/dist-packages (from bokeh<3,>=2->dataprep) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.8/dist-packages (from bokeh<3,>=2->dataprep) (4.4.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2022.11.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.3.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (7.1.2)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.5.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.12.0)
Collecting click>=7.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 6.0 MB/s
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.8/dist-packages (from flask<3,>=2->dataprep) (5.1.0)
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     |████████████████████████████████| 232 kB 53.7 MB/s
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: Six in /usr/local/lib/python3.8/dist-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.11.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.6.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.0.4)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.3.4)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (7.9.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.7.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (6.1.12)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 18.0 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.6.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.1,>=3.0->dataprep) (2.0.1)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.8 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=16.8->bokeh<3,>=2->dataprep) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<2.0,>=1.1->dataprep) (2022.6)
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.5)
Collecting asttokens<3.0.0,>=2.0.0
  Downloading asttokens-2.2.1-py2.py3-none-any.whl (26 kB)
Collecting pure_eval<1.0.0
  Downloading pure_eval-0.2.2-py3-none-any.whl (11 kB)
Collecting executing<0.9.0,>=0.8.3
  Downloading executing-0.8.3-py2.py3-none-any.whl (16 kB)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.8/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.7.16)
Requirement already satisfied: nbformat in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.7.0)
Collecting jinja2<3.1,>=3.0
  Downloading Jinja2-3.0.0-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 62.6 MB/s
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.13.3)
Requirement already satisfied: nbconvert<6.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.6.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (23.2.1)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.1.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.15.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core>=4.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.6.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.0.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.16.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.19.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.10.1)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.8/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from wordcloud<2.0,>=1.8->dataprep) (3.2.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.8/dist-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (2.10)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from bleach->nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.4.4)
Building wheels for collected packages: metaphone
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-py3-none-any.whl size=13919 sha256=a2d0c4a34e5aaaf1f9398936c62e272e3864baa0b4fa37b9999ff5d7db0d6cd3
  Stored in directory: /root/.cache/pip/wheels/ea/4e/3b/0634f08a7980461ad630fa4147cbd25913b008b4a02992ba66
Successfully built metaphone
Installing collected packages: MarkupSafe, jedi, jinja2, Werkzeug, itsdangerous, click, regex, pure-eval, ply, flask, executing, dask, asttokens, varname, sqlalchemy, scipy, rapidfuzz, python-stdnum, python-crfsuite, pydot, metaphone, jsonpath-ng, flask-cors, dataprep
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 1.0.1
    Uninstalling Werkzeug-1.0.1:
      Successfully uninstalled Werkzeug-1.0.1
  Attempting uninstall: itsdangerous
    Found existing installation: itsdangerous 1.1.0
    Uninstalling itsdangerous-1.1.0:
      Successfully uninstalled itsdangerous-1.1.0
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
  Attempting uninstall: regex
    Found existing installation: regex 2022.6.2
    Uninstalling regex-2022.6.2:
      Successfully uninstalled regex-2022.6.2
  Attempting uninstall: flask
    Found existing installation: Flask 1.1.4
    Uninstalling Flask-1.1.4:
      Successfully uninstalled Flask-1.1.4
  Attempting uninstall: dask
    Found existing installation: dask 2022.2.1
    Uninstalling dask-2022.2.1:
      Successfully uninstalled dask-2022.2.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.45
    Uninstalling SQLAlchemy-1.4.45:
      Successfully uninstalled SQLAlchemy-1.4.45
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
  Attempting uninstall: pydot
    Found existing installation: pydot 1.3.0
    Uninstalling pydot-1.3.0:
      Successfully uninstalled pydot-1.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
distributed 2022.2.1 requires dask==2022.02.1, but you have dask 2022.12.1 which is incompatible.
Successfully installed MarkupSafe-2.1.1 Werkzeug-2.2.2 asttokens-2.2.1 click-8.1.3 dask-2022.12.1 dataprep-0.4.5 executing-0.8.3 flask-2.2.2 flask-cors-3.0.10 itsdangerous-2.1.2 jedi-0.18.2 jinja2-3.0.0 jsonpath-ng-1.5.3 metaphone-0.6 ply-3.11 pure-eval-0.2.2 pydot-1.4.2 python-crfsuite-0.9.8 python-stdnum-1.18 rapidfuzz-2.13.6 regex-2021.11.10 scipy-1.9.3 sqlalchemy-1.3.24 varname-0.8.3

## Envrionment

In [6]:
import numpy as np
import pandas as pd
from dataprep.eda import create_report, plot, plot_correlation
import sys

# visualization
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
sys.setrecursionlimit(10000)

In [6]:
data1 = "https://raw.githubusercontent.com/gregorywmorris/MLZoom2022/main/capstone-1/lendingclub-1.csv"

In [7]:
data2 = "https://raw.githubusercontent.com/gregorywmorris/MLZoom2022/main/capstone-1/lendingclub-2.csv"

In [8]:
!wget $data1 -O lendingclub-1.csv

--2022-12-18 15:37:25--  https://raw.githubusercontent.com/gregorywmorris/MLZoom2022/main/capstone-1/lendingclub-1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13161065 (13M) [text/plain]
Saving to: ‘lendingclub-1.csv’

lendingclub-1.csv   100%[===================>]  12.55M  69.1MB/s    in 0.2s

2022-12-18 15:37:25 (69.1 MB/s) - ‘lendingclub-1.csv’ saved [13161065/13161065]

In [9]:
!!wget $data2 -O lendingclub-2.csv

['--2022-12-18 15:37:28--  https://raw.githubusercontent.com/gregorywmorris/MLZoom2022/main/capstone-1/lendingclub-2.csv',
 'Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...',
 'Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.',
 'HTTP request sent, awaiting response... 200 OK',
 'Length: 15921810 (15M) [text/plain]',
 'Saving to: ‘lendingclub-2.csv’',
 '',
 '',
 'lendingclub-2.csv     0%[                    ]       0  --.-KB/s               ',
 'lendingclub-2.csv     7%[>                   ]   1.12M  5.52MB/s               ',
 'lendingclub-2.csv    14%[=>                  ]   2.24M  5.54MB/s               ',
 'lendingclub-2.csv    68%[============>       ]  10.43M  17.1MB/s               ',
 'lendingclub-2.csv   100%[===================>]  15.18M  21.9MB/s    in 0.7s    ',
 '',
 '2022-12-18 15:37:29 (21.9 MB/s) - ‘lendingclub-2.csv’ saved [15921810/15921810]',
 '']

In [10]:
part1 = pd.read_csv("lendingclub-1.csv")

In [11]:
part2 = pd.read_csv("lendingclub-2.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
bothParts = [part1,part2]
df = pd.concat(bothParts)

# EDA

## Data Cleaning / Preprocessing

In [13]:
df.isnull().sum()

id                       42537
member_id                42538
loan_amnt                    3
funded_amnt                  3
funded_amnt_inv              3
                         ...
settlement_status        42378
settlement_date          42378
settlement_amount        42378
settlement_percentage    42378
settlement_term          42378
Length: 144, dtype: int64

In [14]:
df.shape

(42538, 144)

In [15]:
# drop columns that have no values
for col in df.columns:
  if df[col].isna().sum() >= 42537:
    df.drop(col,inplace=True,axis=1)

In [16]:
# confirm dropped columns
df.shape

(42538, 62)

In [17]:
# check dtypes
df.dtypes

loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
term                      object
int_rate                  object
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 62, dtype: object

In [18]:
for obj in df.columns[df.dtypes == 'O']:
    print(df[obj].value_counts())
    print('************************')

 36 months    31534
 60 months    11001
Name: term, dtype: int64
************************
10.99%    970
11.49%    837
13.49%    832
7.51%     787
7.88%     742
         ...
17.46%      1
21.48%      1
24.40%      1
16.83%      1
16.20%      1
Name: int_rate, Length: 394, dtype: int64
************************
B    12389
A    10183
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64
************************
B3    2997
A4    2905
B5    2807
A5    2793
B4    2590
C1    2264
C2    2157
B2    2113
B1    1882
A3    1823
C3    1658
A2    1520
D2    1485
C4    1370
D3    1322
C5    1291
A1    1142
D4    1140
D1    1053
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G4      99
G5      86
G3      79
Name: sub_grade, dtype: int64
************************
US Army                             139
Bank of America                     115
IBM                                  72
Kaiser Permanente                    61
AT&T                                 61
                                   ...
Regional Elite Airlines Services      1
Mass General Medical Group            1
Kontera                               1
Southeast Georgia Health ystem        1
Homemaker                             1
Name: emp_title, Length: 30658, dtype: int64
************************
10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64
************************
RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64
************************
Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64
************************
Dec-11    2267
Nov-11    2232
Oct-11    2118
Sep-11    2067
Aug-11    1934
Jul-11    1875
Jun-11    1835
May-11    1704
Apr-11    1563
Mar-11    1448
Jan-11    1380
Dec-10    1335
Feb-11    1298
Oct-10    1232
Nov-10    1224
Jul-10    1204
Sep-10    1189
Aug-10    1175
Jun-10    1105
May-10     989
Apr-10     912
Mar-10     828
Feb-10     682
Jan-10     662
Nov-09     662
Dec-09     658
Oct-09     604
Sep-09     507
Aug-09     446
Jul-09     411
Jun-09     406
Mar-08     402
May-09     359
Apr-09     333
Mar-09     324
Feb-08     306
Jan-08     305
Feb-09     302
Jan-09     269
Apr-08     259
Dec-08     253
Nov-08     209
Dec-07     172
Jul-08     141
Jun-08     124
Oct-08     122
May-08     115
Nov-07     112
Oct-07     105
Aug-08     100
Aug-07      74
Jul-07      63
Sep-08      57
Sep-07      53
Jun-07      24
Name: issue_d, dtype: int64
************************
Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64
************************
n    42535
Name: pymnt_plan, dtype: int64
************************
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 225
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                11
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 8
refinancing                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        5
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
  Borrower added on 04/13/11 > debt consolidation<br/> Borrower added on 04/13/11 > debt consolidation<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                        1
  Borrower added on 04/13/11 > I am looking to pay the difference in the sell of my home that I have up for sale and in contract. I am looking at paying $20000 of the difference so I can relocate closer to me and my wife's employers. We have no other debt, to include credit cards, with the exception of an auto loan at $19000. I plan on solely paying this debt off and ultimately purchasing a home again in a closer location. I initially needed a $12000 loan , but now I am only needing the requested amount. Thank you.<br/>      1
  Borrower added on 04/18/11 > I am employed for 23 years at a major aerospace company.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
I'm in the process of doing home remolding.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
I need to make several improvements around the house - fix garage, fix back fencing, and misc other.                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: desc, Length: 28963, dtype: int64
************************
debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
small_business         1992
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64
************************
Debt Consolidation                  2259
Debt Consolidation Loan             1760
Personal Loan                        708
Consolidation                        547
debt consolidation                   532
                                    ...
Taxes Loan                             1
Blazing in 5 years                     1
I was scammed and now recovering       1
ZIG                                    1
Aroundthehouse                         1
Name: title, Length: 21256, dtype: int64
************************
100xx    649
945xx    559
606xx    548
112xx    538
070xx    503
        ...
823xx      1
965xx      1
388xx      1
386xx      1
036xx      1
Name: zip_code, Length: 837, dtype: int64
************************
CA    7429
NY    4065
FL    3104
TX    2915
NJ    1988
IL    1672
PA    1651
GA    1503
VA    1487
MA    1438
OH    1329
MD    1125
AZ     933
WA     888
CO     857
NC     830
CT     816
MI     796
MO     765
MN     652
NV     527
WI     516
SC     489
AL     484
OR     468
LA     461
KY     359
OK     317
KS     298
UT     278
AR     261
DC     224
RI     208
NM     205
NH     188
WV     187
HI     181
DE     136
MT      96
WY      87
AK      86
SD      67
VT      57
TN      32
MS      26
IN      19
IA      12
NE      11
ID       9
ME       3
Name: addr_state, dtype: int64
************************
Oct-99    393
Nov-98    390
Oct-00    370
Dec-98    366
Dec-97    348
         ...
Jul-64      1
Mar-63      1
Nov-65      1
Apr-66      1
Nov-59      1
Name: earliest_cr_line, Length: 530, dtype: int64
************************
0%         1070
40.70%       65
0.20%        64
63%          63
66.60%       62
           ...
21.59%        1
39.95%        1
0.01%         1
17.67%        1
105.70%       1
Name: revol_util, Length: 1119, dtype: int64
************************
f    42535
Name: initial_list_status, dtype: int64
************************
Mar-13    1070
Dec-14     949
May-13     943
Feb-13     906
Mar-12     893
          ...
Jan-08      11
Feb-08       8
Feb-17       6
Dec-07       2
Apr-17       1
Name: last_pymnt_d, Length: 112, dtype: int64
************************
Mar-11    107
Apr-11    101
Feb-11     91
Jan-11     79
May-11     77
         ...
Jul-14      2
Feb-08      2
Oct-14      2
Mar-15      1
May-08      1
Name: next_pymnt_d, Length: 98, dtype: int64
************************
Jun-19    8446
Oct-16    3861
May-19    1073
Apr-19     819
Mar-19     700
          ...
Dec-07       2
Feb-08       2
Jul-08       1
Jun-08       1
Jul-07       1
Name: last_credit_pull_d, Length: 143, dtype: int64
************************
Individual    42535
Name: application_type, dtype: int64
************************
N    42535
Name: hardship_flag, dtype: int64
************************
N    42375
Y      160
Name: debt_settlement_flag, dtype: int64
************************
Jun-17    18
Jan-15     7
Sep-15     6
Jul-14     5
May-14     5
          ..
Jun-16     1
Aug-18     1
Jul-17     1
Jul-18     1
Jan-18     1
Name: debt_settlement_flag_date, Length: 65, dtype: int64
************************
COMPLETE    145
BROKEN       14
ACTIVE        1
Name: settlement_status, dtype: int64
************************
Sep-13    8
Oct-13    8
Jan-15    8
Mar-13    6
Jul-14    6
         ..
Apr-15    1
Feb-17    1
Mar-16    1
Aug-13    1
Jan-16    1
Name: settlement_date, Length: 61, dtype: int64
************************

In [19]:
# drop columns that either do no add informaiton or are documeted as part of the label 'loan_status'
dropCatColumn = ['settlement_date','settlement_status','debt_settlement_flag','debt_settlement_flag_date','hardship_flag','application_type','next_pymnt_d','last_pymnt_d','initial_list_status','zip_code', 'addr_state', 'title',
                 'desc','pymnt_plan','issue_d','term','int_rate']

In [20]:
df.drop(dropCatColumn,inplace=True,axis=1)

In [21]:
for floats in df.columns[df.dtypes == 'float64']:
    print(df[floats].value_counts())
    print('************************')

10000.0    3016
12000.0    2439
5000.0     2260
6000.0     2037
15000.0    2012
           ...
10350.0       1
19100.0       1
17975.0       1
31150.0       1
20425.0       1
Name: loan_amnt, Length: 898, dtype: int64
************************
10000.0    2924
12000.0    2347
5000.0     2247
6000.0     2023
15000.0    1897
           ...
23625.0       1
19625.0       1
21425.0       1
27750.0       1
850.0         1
Name: funded_amnt, Length: 1051, dtype: int64
************************
5000.000000     1369
10000.000000    1302
6000.000000     1241
12000.000000    1084
8000.000000      929
                ...
5480.733306        1
14276.431140       1
10141.459840       1
10019.969440       1
1099.996405        1
Name: funded_amnt_inv, Length: 9244, dtype: int64
************************
311.11    68
180.96    59
311.02    54
150.80    48
368.45    46
          ..
357.77     1
809.53     1
48.93      1
405.46     1
204.84     1
Name: installment, Length: 16459, dtype: int64
************************
60000.0     1591
50000.0     1119
40000.0      935
45000.0      898
30000.0      884
            ...
108820.0       1
85634.0        1
126996.0       1
57110.0        1
6500.0         1
Name: annual_inc, Length: 5597, dtype: int64
************************
0.00     206
12.00     54
18.00     46
10.00     46
19.20     45
        ...
28.04      1
27.44      1
26.87      1
27.58      1
28.43      1
Name: dti, Length: 2894, dtype: int64
************************
0.0     37771
1.0      3595
2.0       771
3.0       244
4.0        72
5.0        27
6.0        13
7.0         6
8.0         3
11.0        2
9.0         1
13.0        1
Name: delinq_2yrs, dtype: int64
************************
0.0     19657
1.0     11247
2.0      5987
3.0      3182
4.0      1056
5.0       596
6.0       339
7.0       182
8.0       115
9.0        50
10.0       24
11.0       15
12.0       15
15.0        9
13.0        6
14.0        6
18.0        4
16.0        3
17.0        2
24.0        2
19.0        2
32.0        1
33.0        1
31.0        1
28.0        1
25.0        1
27.0        1
20.0        1
Name: inq_last_6mths, dtype: int64
************************
0.0      821
30.0     270
19.0     266
23.0     266
15.0     263
        ...
89.0       1
107.0      1
85.0       1
97.0       1
95.0       1
Name: mths_since_last_delinq, Length: 95, dtype: int64
************************
0.0      1275
89.0       70
113.0      68
104.0      66
87.0       62
         ...
120.0       1
129.0       1
5.0         1
24.0        1
19.0        1
Name: mths_since_last_record, Length: 113, dtype: int64
************************
7.0     4252
8.0     4176
6.0     4172
9.0     3922
10.0    3386
5.0     3368
11.0    2944
4.0     2508
12.0    2398
13.0    2060
3.0     1608
14.0    1597
15.0    1290
16.0    1022
17.0     812
2.0      692
18.0     588
19.0     442
20.0     335
21.0     276
22.0     170
23.0     121
24.0      87
25.0      63
26.0      40
1.0       39
27.0      29
28.0      29
30.0      17
29.0      16
31.0      13
34.0       8
32.0       6
33.0       5
35.0       4
36.0       2
38.0       2
37.0       1
46.0       1
39.0       1
42.0       1
41.0       1
44.0       1
47.0       1
Name: open_acc, dtype: int64
************************
0.0    40130
1.0     2298
2.0       64
3.0       11
4.0        2
5.0        1
Name: pub_rec, dtype: int64
************************
0.0        1119
255.0        14
298.0        14
1.0          13
682.0        12
           ...
14170.0       1
43734.0       1
37778.0       1
59797.0       1
5251.0        1
Name: revol_bal, Length: 22709, dtype: int64
************************
15.0    1552
16.0    1547
17.0    1543
14.0    1531
20.0    1504
        ...
74.0       1
77.0       1
78.0       1
72.0       1
90.0       1
Name: total_acc, Length: 83, dtype: int64
************************
0.0    42535
Name: out_prncp, dtype: int64
************************
0.0    42535
Name: out_prncp_inv, dtype: int64
************************
11196.569430    26
0.000000        19
10956.775960    16
11784.232230    16
5478.387981     15
                ..
16139.907400     1
13966.865470     1
8192.258604      1
35106.470040     1
5619.762090      1
Name: total_pymnt, Length: 40520, dtype: int64
************************
0.00        297
6514.52      16
13148.14     14
5478.39      14
6717.95      12
           ...
15378.30      1
5295.45       1
2350.76       1
1179.29       1
258.82        1
Name: total_pymnt_inv, Length: 40102, dtype: int64
************************
10000.00    2432
12000.00    1958
5000.00     1861
6000.00     1752
15000.00    1529
            ...
3913.24        1
1403.94        1
371.71         1
1124.52        1
1791.32        1
Name: total_rec_prncp, Length: 7691, dtype: int64
************************
0.00       83
1196.57    26
514.52     19
956.78     17
1148.14    17
           ..
279.64      1
4872.67     1
5586.05     1
5174.34     1
619.76      1
Name: total_rec_int, Length: 37462, dtype: int64
************************
0.000000      40145
15.000000       297
15.000000        78
30.000000        65
15.000000        50
              ...
79.011448         1
44.971720         1
26.308862         1
38.895205         1
120.000000        1
Name: total_rec_late_fee, Length: 1557, dtype: int64
************************
0.00       36176
0.30          14
1.80          11
0.96          10
1.20          10
           ...
3535.72        1
1226.49        1
364.47         1
571.33         1
4897.93        1
Name: recoveries, Length: 5059, dtype: int64
************************
0.0000       38206
2.0000          15
1.2000          11
1.6000          10
1.8000           9
             ...
3367.2394        1
6.6200           1
1.7372           1
125.5230         1
1714.2700        1
Name: collection_recovery_fee, Length: 2896, dtype: int64
************************
0.00        96
200.00      19
100.00      17
50.00       17
150.00      13
            ..
275.03       1
675.32       1
12532.18     1
3642.88      1
156.39       1
Name: last_pymnt_amnt, Length: 37260, dtype: int64
************************
0.0    42390
Name: collections_12_mths_ex_med, dtype: int64
************************
1.0    42535
Name: policy_code, dtype: int64
************************
0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64
************************
0.0    42390
Name: chargeoff_within_12_mths, dtype: int64
************************
0.0       42504
27.0          1
6053.0        1
Name: delinq_amnt, dtype: int64
************************
0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64
************************
0.0    42429
1.0        1
Name: tax_liens, dtype: int64
************************
5000.00    3
8000.00    3
1800.00    3
6500.00    3
1000.00    2
          ..
7274.80    1
4152.00    1
1736.16    1
2287.78    1
2067.00    1
Name: settlement_amount, Length: 143, dtype: int64
************************
50.00    13
40.00     8
45.00     5
65.00     4
49.98     3
         ..
80.00     1
47.10     1
31.54     1
46.34     1
40.38     1
Name: settlement_percentage, Length: 123, dtype: int64
************************
0.0     125
1.0      17
2.0       5
6.0       3
24.0      2
18.0      2
12.0      1
23.0      1
11.0      1
8.0       1
9.0       1
10.0      1
Name: settlement_term, dtype: int64
************************

In [22]:
# Future date/post approval, missing too much data to extrapolate
dropFloats = ['settlement_term','settlement_percentage','settlement_amount','delinq_amnt','acc_now_delinq','policy_code','chargeoff_within_12_mths','collections_12_mths_ex_med','last_pymnt_amnt','collection_recovery_fee','total_rec_late_fee','total_rec_int',
              'total_rec_prncp','total_pymnt_inv','total_pymnt','out_prncp_inv','out_prncp','mths_since_last_record','installment','funded_amnt_inv','funded_amnt','loan_amnt']

In [23]:
df.drop(dropFloats,inplace=True,axis=1)

In [24]:
df.shape

(42538, 23)

In [25]:
df.isna().sum()

grade                         3
sub_grade                     3
emp_title                  2629
emp_length                 1115
home_ownership                3
annual_inc                    7
verification_status           3
loan_status                   3
purpose                       3
dti                           3
delinq_2yrs                  32
earliest_cr_line             32
inq_last_6mths               32
mths_since_last_delinq    26929
open_acc                     32
pub_rec                      32
revol_bal                     3
revol_util                   93
total_acc                    32
recoveries                    3
last_credit_pull_d            7
pub_rec_bankruptcies       1368
tax_liens                   108
dtype: int64

In [26]:
# target value, we cannot use observations missing this value.
df[df['loan_status'].isnull()]

,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,...,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,recoveries,last_credit_pull_d,pub_rec_bankruptcies,tax_liens
18286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# This reolves the missing target value, missing grade, and missing dti values
df.drop([18286,18287,18288], inplace=True)

In [28]:
# It is reasonable to assume that no entry is likely a lack of occurance for these fields, although it could be a data entry error. It is unlikey the lendor did not look for these on the credit history.
zero_out = ['tax_liens','pub_rec_bankruptcies','recoveries','mths_since_last_delinq','delinq_2yrs','inq_last_6mths','pub_rec']

for zOut in zero_out:
  df[zOut].fillna(0.0,inplace=True)

In [29]:
df.emp_title.value_counts()

US Army                             139
Bank of America                     115
IBM                                  72
AT&T                                 61
Kaiser Permanente                    61
                                   ...
Regional Elite Airlines Services      1
Mass General Medical Group            1
Kontera                               1
Southeast Georgia Health ystem        1
Homemaker                             1
Name: emp_title, Length: 30656, dtype: int64

In [30]:
# emp_title is too diverse to be of use. Possible categorization, however 30k+ values makes that impraticle at this time.
df.drop('emp_title',axis=1,inplace=True)

In [31]:
df.home_ownership.value_counts()

RENT        20180
MORTGAGE    18957
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

In [32]:
# NONE is ambiguous, OTHER category better fits homeless and those living with others.
df['home_ownership'].replace('NONE','OTHER',inplace=True)

In [33]:
df['home_ownership'].fillna('OTHER')
df.home_ownership.value_counts()

RENT        20180
MORTGAGE    18957
OWN          3251
OTHER         144
Name: home_ownership, dtype: int64

In [34]:
df.purpose.value_counts()

debt_consolidation    19775
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2310
small_business         1991
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64

In [35]:
# Replace empty fields with other category
purposeNULL = df.purpose.isna()
df = df.replace(purposeNULL,'other')

In [36]:
df.isna().sum()

grade                        0
sub_grade                    0
emp_length                1112
home_ownership               0
annual_inc                   4
verification_status          0
loan_status                  0
purpose                      0
dti                          0
delinq_2yrs                  0
earliest_cr_line            29
inq_last_6mths               0
mths_since_last_delinq       0
open_acc                    29
pub_rec                      0
revol_bal                    0
revol_util                  90
total_acc                   29
recoveries                   0
last_credit_pull_d           4
pub_rec_bankruptcies         0
tax_liens                    0
dtype: int64

In [37]:
df.last_credit_pull_d.value_counts()

Jun-19    8445
Oct-16    3860
May-19    1073
Apr-19     819
Mar-19     700
          ...
Dec-07       2
Feb-08       2
Jul-08       1
Jun-08       1
Jul-07       1
Name: last_credit_pull_d, Length: 143, dtype: int64

In [38]:
# these columns will take the median value for fillna
median_fill = ['emp_length','annual_inc','open_acc','pub_rec','open_acc','revol_util','total_acc']
for med in median_fill:
  df[med].fillna(df[med].median,inplace=True)

earliest_cr_line and last_credit_pull_d are date based and will be removed for now. They would be of greater use as categories for time periods of age of accounts.

In [39]:
dates = ['earliest_cr_line','last_credit_pull_d']
df.drop(dates,axis=1,inplace=True)

In [40]:
df.isna().sum()

grade                     0
sub_grade                 0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
purpose                   0
dti                       0
delinq_2yrs               0
inq_last_6mths            0
mths_since_last_delinq    0
open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util                0
total_acc                 0
recoveries                0
pub_rec_bankruptcies      0
tax_liens                 0
dtype: int64

In [41]:
df.reset_index(inplace=True)

In [42]:
pd.options.display.max_columns = None

## Data Exploration

In [9]:
create_report(df)

NameError: ignored